.album-img:hover .layhover i{
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

@keyframes rotate {
  0%{
    transform: rotate(1turn);
  }
}

@keyframes visible {
  from{
    height: 0;
    opacity: 0;
  }

  to{
    height: 90px;
    opacity: 1;
  }
}

@keyframes hidden {
  from{
    height: 90px;
  }

  to{
    height:0;
  }
}

@keyframes margintop {
  from{
    margin-top: 5px;
  }

  to{
    margin-top: 100px;
  }
}
