.album-img:hover .layhover i{
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: reverse;
}

footer .volume .barr:hover {
  animation-name: zoom;
  animation-duration: 1.5s;
  transform: scale(1.5);
  margin: 0 0;
  margin-right: 50px;
}

.tips{
  animation-name: scendi;
  animation-duration: 2s;
}

@keyframes rotate {
  0%{
    transform: rotate(1turn);
  }
}

@keyframes visible {
  from{
    height: 0;
    opacity: 0;
  }

  to{
    height: 90px;
    opacity: 1;
  }
}

@keyframes hidden {
  from{
    height: 90px;
  }

  to{
    height:0;
  }
}

@keyframes margintop {
  from{
    margin-top: 5px;
  }

  to{
    margin-top: 100px;
  }
}

@keyframes zoom {
  from{
    transform: scale(1);
    margin: 0 0;
  }

  to{
    transform: scale(1.5);
    margin-right: 50px;
  }
}

@keyframes scendi {
  from{
    margin-top: 0
  }
  to{
    margin-top: 100px;
  }
}

@keyframes sali {
  from{
    margin-top: 100px;
  }
  to{
    margin-top: 10px;
  }
}
