/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  height: calc(100vh - 90px);
}
footer{
  height: 90px;
  background-color: #24211e;
}


/* main */
/* left */
.left-nav{
  float: left;
  height: 100%;
  width: 230px;
  background-color: black;
  color: white;
}

.left-nav a{
  color: grey;
  text-decoration: none;
}

.left-nav img{
  max-width: 70%;
}

.profilo{
  padding: 15px;
  font-size: 20px;
}

.profilo:hover{
  border-left: solid 1px green;
}

.playlist{
  padding: 15px;
  font-size: 20px;
}

.playlist h3{
  margin-bottom: 15px;
}

.playlist i{
  font-size: 40px;
}

.playlist span{
  color: grey;
  margin-left: 10px;
}

.playlist-flex{
  display: flex;
  align-items: center;
}

.playlist-flex a{
  color: #fff;
}

.playlist ul{
  list-style-type: none;
}

.playlist ul li{
  margin: 7px 0;
}


/* center */
.contenuto{
  float: left;
  height: 100%;
  width: calc(100% - 230px);
  background-color: green;
}
/* footer */
