/* general rules */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  height: calc(100vh - 90px);
}
footer{
  height: 90px;
  background-color: #24211e;
}


/* main */
/* left */
.left-nav{
  float: left;
  height: 100%;
  width: 230px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

.left-nav a{
  color: grey;
  text-decoration: none;
}

.left-nav img{
  max-width: 70%;
}

.profilo{
  padding: 15px;
  font-size: 20px;
}

.profilo:hover{
  border-left: solid 1px green;
}

.playlist{
  padding: 15px;
  font-size: 20px;
}

.playlist h3{
  margin-bottom: 15px;
}

.playlist i{
  font-size: 40px;
}

.playlist span{
  color: grey;
  margin-left: 10px;
}

.crea-playlist i{
  color: #fff;
  vertical-align: middle;
}

.playlist ul{
  list-style-type: none;
}

.playlist ul li{
  margin: 7px 0;
}

.user{
  width: 90%;
  margin: 0 5%;
  font-size: 18px;
}

.user hr{
  margin: 5px;
}

/* center */
.contenuto{
  float: left;
  height: 100%;
  width: calc(100% - 230px);
  background-color: #1b1b31;
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.contenuto h2{
  margin: 15px 0;
  font-size: 25px;
  padding-left: 54px;
}

main .contenuto p{
  margin: 15px 0;
  font-size: 20px;
  padding-left: 54px;
  color: grey;
}

.upgrade{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 2;
  top: 0;
  left: 230px;
  width: 88%;
  height:90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upgrade a{
  color: #fff;
  border: solid 2px ;
  border-radius: 30px;
  margin-right: 5%;
  padding: 18px;
  text-decoration: none;
}

.tips{
  margin-top: 100px;
  text-align: center;
}

.tips li{
  display: inline-block;
}

.tips li a{
  color: #bfbfbf;
  text-decoration: none;
  margin-right: 20px;
}

.tips li a:hover{
  border-bottom: solid 1px green;
}

.row-album{
  color: #fff;
  width: 90%;
  margin: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.album{
  width: calc(100% / 6);
  padding: 1%;
  min-width: 200px;
}

.album img {
  max-width: 100%;
}

.album-img{
  position: relative;
}

.layhover{
  position: absolute;
  width: 100%;
  height: 98.5%;
  top: 0;
  text-align: center;
  line-height: 205px;
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.album-img:hover .layhover{
  display: block;
}

.album h4{
  text-align: center;
  padding: 10px 5%;
}

.row-album .album p{
  text-align: center;
  margin: 0;
  font-size: 15px;
  padding-left: 0;
}

/* footer */
